.menu {
  a {
    color: $color__brand-green;
    font-size: 1.25rem;
  }
}

.footer-companyname {
  color: $color__brand-green;
  font-size: 1.25rem;
}

.site-footer {
  div {
    p {
      font-size: 1.25rem;
    }
  }
}
