/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
.site {
  .page-archives {
    @include desktop-query {
      display: flex;
      justify-content: center;
    }

    .fa-quote-left,
    .fa-quote-right {
      display: none;

      @include desktop-query {
        display: block;
        font-size: 7.5rem;
        color: $color__brand-green;
      }
    }

    .content-area {
      margin: 0 4rem;
      width: 50%;

      .post-archives {
        @include desktop-query {
          display: block;
        }

        ul {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 0 1.25rem 0.5rem 0;

            @include tablet-query {
              font-size: 1.25rem;
            }
          }

          a {
            text-decoration: none;
          }
        }
      }

      .category-archives {
        @include desktop-query {
          display: block;
        }

        ul {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 0 1.25rem 0.5rem 0;

            @include tablet-query {
              font-size: 1.25rem;
            }
          }

          a {
            text-decoration: none;
          }
        }
      }

      .tag-archives {
        @include desktop-query {
          display: block;
        }

        ul {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 0 1.25rem 0.5rem 0;
          }

          a {
            text-decoration: none;

            @include tablet-query {
              font-size: 1.25rem !important;
            }
          }
        }
      }
    }
  }
}

/* Home Page */
body {
  background: $color__background-body;
  color: $color__text-main;
  font-family: $font__main;

  .site {
    padding: 1rem;
  }
}

.site-main {
  div {
    @include desktop-query {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      article {
        @include desktop-query {
          margin: 0 4rem;
          width: 50%;
        }
      }
    }

    i {
      display: none;

      @include desktop-query {
        display: block;
        font-size: 7.5rem;
        color: $color__brand-green;
      }
    }
  }

  button {
    border: 2px solid $color__brand-green;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    text-align: center;
    color: $color__brand-green;
    border-radius: 2.5px;
    background-color: $color__background-body;
    box-shadow: none;
    text-shadow: none;
    font-family: $font__accent;
    margin-top: 1rem;

    @include tablet-query {
      font-size: 1.25rem;
    }

    @include desktop-query {
      position: absolute;
      left: 42vw;
    }
  }

  .entry-content {
    font-family: $font__main;
    font-size: 1.25rem;

    @include tablet-query {
      font-size: 1.75rem;
    }

    @include desktop-query {
      font-size: 2.5rem;
    }
  }

  p {
    margin-bottom: 0.75rem;
  }
}

article {
  .entry-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $font__main;
    font-size: 1.25rem;

    h2 {
      font-family: $font__main;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .source {
      font-style: italic;

      a {
        text-decoration: none;
        color: $color__brand-green;
      }
    }
  }
}

/* Submit A Quote Page */
.page-submit {
  @include desktop-query {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .fa-quote-left,
  .fa-quote-right {
    display: none;

    @include desktop-query {
      display: block;
      font-size: 7.5rem;
      color: $color__brand-green;
    }
  }

  .content-area {
    @include desktop-query {
      margin: 0 4rem;
      width: 50%;
    }

    .site-main {
      .quote-submission-wrapper {
        @include desktop-query {
          justify-content: flex-start;
        }

        form {
          div {
            display: flex;
            flex-direction: column;

            @include desktop-query {
              align-items: flex-start;
              width: 60vw;
            }

            label {
              width: 100%;
              margin-bottom: 1rem;
            }

            input,
            textarea {
              margin-bottom: 2rem;
              border: 2px solid $color__brand-green;
              border-radius: 2.5px;
              background: $color__background-body;
              color: $color__text-main;

              @include tablet-query {
                width: 75%;
              }
            }

            input:focus,
            textarea:focus {
              border: 2px solid $color__text-main;
              border-radius: 2.5px;
            }
          }

          input[type='submit'] {
            border: 2px solid $color__brand-green;
            padding: 0.75rem 2.5rem;
            font-size: 1rem;
            text-align: center;
            color: $color__brand-green;
            border-radius: 2.5px;
            background-color: $color__background-body;
            box-shadow: none;
            text-shadow: none;
            font-family: $font__accent;
          }
        }
      }
    }
  }
}
