/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
body {
  background: $color__background-body;
  color: $color__text-main;
  font-family: $font__main;

  .site {
    padding: 1rem;
  }
}

.content-area {
}

.site-main {
  div {
    @include desktop-query {
      display: flex;
      justify-content: center;
      align-items: center;

      article {
        @include desktop-query {
          margin: 0 4rem;
          width: 50%;
        }
      }
    }

    i {
      display: none;

      @include desktop-query {
        display: block;
        font-size: 7.5rem;
        color: $color__brand-green;
      }
    }
  }

  button {
    border: 2px solid $color__brand-green;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    text-align: center;
    color: $color__brand-green;
    border-radius: 2.5px;
    background-color: $color__background-body;
    box-shadow: none;
    text-shadow: none;
    font-family: $font__accent;
    margin-top: 1rem;

    @include tablet-query {
      font-size: 1.25rem;
    }

    @include desktop-query {
      position: absolute;
      left: 42vw;
    }
  }

  .entry-content {
    font-family: $font__main;
    font-size: 1.25rem;

    @include tablet-query {
      font-size: 1.75rem;
    }

    @include desktop-query {
      font-size: 2.5rem;
    }
  }

  p {
    margin-bottom: 0.75rem;
  }
}

article {
  .entry-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $font__main;
    font-size: 1.25rem;

    h2 {
      font-family: $font__main;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .source {
      font-style: italic;

      a {
        text-decoration: none;
        color: $color__brand-green;
      }
    }
  }
}
